In [14]:
import pandas as pd

data = pd.read_csv("criteria.txt", header=None)
data[1].value_counts()

1
 remove glasses         15
 remove happiness       15
 remove skin texture    15
 add hat                15
 add mustache           15
 add glasses            15
 add happiness          15
 remove mustache        15
 remove hat             15
 add age                15
Name: count, dtype: int64

In [10]:
# transform dataframe

data[1] = data[1].str[1:]
data[1] = data[1].str.split(" ")
data[2] = data[1].str[1:]
data[2] = data[2].apply(lambda x: " ".join(x))
data[1] = data[1].str[0]
data[3] = data[0].apply(lambda x: str(x) + "_real.png")
data[4] = data[0].apply(lambda x: str(x) + "_fake.png")
data = data.drop(0, axis=1)
data.columns = ["action", "item", "real image", "altered image"]

data

     action          item    real image altered image
0    remove       glasses    real_0.png    fake_0.png
1    remove     happiness    real_1.png    fake_1.png
2    remove  skin texture    real_2.png    fake_2.png
3       add           hat    real_3.png    fake_3.png
4    remove  skin texture    real_4.png    fake_4.png
..      ...           ...           ...           ...
105     add       glasses  real_105.png  fake_105.png
106     add     happiness  real_106.png  fake_106.png
107     add           age  real_107.png  fake_107.png
108     add      mustache  real_108.png  fake_108.png
109     add           hat  real_109.png  fake_109.png

[110 rows x 4 columns]

In [12]:
data["item"].value_counts()

item
glasses         22
happiness       22
hat             22
mustache        22
skin texture    11
age             11
Name: count, dtype: int64